<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="router-link-active"  >Películas</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <div class="d-flex">
        <input 
              #txtBuscar
              class="form-control mr-sm-2" 
              type="search" 
              placeholder="Buscar" 
              aria-label="Search"
              (keyup.enter)="buscarPelicula( txtBuscar.value )">
        <button 
              class="btn btn-outline-success my-2 my-sm-0"
              type="submit"
              (click)="buscarPelicula( txtBuscar.value )">Buscar</button>
      </div>
    </div>
  </nav>